<section class="inventory-container">
  <h1 class="inventory-name">
    <%= @inventory.name %>
  </h1>
  <%= link_to "Add food", new_food_path %>
  <table class="inventory-table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= "#{food.quantity} #{food.measurement_unit}" %></td>
          <td><%= button_to 'Remove', food_path(food), method: :delete %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
