<h2 class="forget-pass">Log in</h2>

<div class="log">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true,  autocomplete: "email",placeholder: 'email',class:"log-input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password',class:"log-input" %>
  </div>
 

  <div class="actions">
    <%= f.submit "Log in",class:"log-input" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>