<%# food form %>
<section class="food-form-container">
  <h1 class="food-form-title">
    Add food
  </h1>
  <%= form_for @food do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :measurement_unit %><br>
      <%= f.text_field :measurement_unit %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</section>
